<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    {{>header}}
    <p style="text-align: center;">This site uses Mapbox Api for Geolocation and OpenWeather Api for weather</p>
    <div class="imgs">
        <img class="meImg" src="/img/mypic.png" alt="My pic" />
    </div>
    <div>
        <h3 class="title" style="font-size: 2em;">Nitesh Kumar</h3>
        <div class="row">
            <div class="icons" style="background-color: orange;">
                <a href="https://www.instagram.com/a_phenomenal1/">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
            </div>
            <div class="icons" style="background-color: lightgrey;">
                <a href="https://github.com/A-phenomenal1">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
            </div>
            <div class="icons" style="background-color: lightgreen;">
                <a href="https://www.linkedin.com/in/nitesh-kumar-2705bb195/">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>