<div class="header">
    <span>
        <h1 class="title">{{title}}</h1>
    </span>
    <span>
        <ul class="linkitems">
            <li class="links">
                <a href="/">
                    Home
                </a>
            </li>
            <li class="links">
                <a href="/about">
                    About
                </a>
            </li>
            <li class="links">
                <a href="/help">
                    Help
                </a>
            </li>
        </ul>
    </span>
</div>